.mstheme{
nav-banner-image:url(stubanr.gif);
separator-image:url(sturule.gif);
list-image-1:url(stubul1.gif);
list-image-2:url(stubul2.gif);
list-image-3:url(stubul3.gif);
navbutton-horiz-pushed:url(stuhsel.gif);
navbutton-horiz-normal:url(stuhbtn.gif);
navbutton-vert-pushed:url(stuvsel.gif);
navbutton-vert-normal:url(stuvbtn.gif);
navbutton-home-normal:url(stuhom.gif);
navbutton-up-normal:url(stuup.gif);
navbutton-prev-normal:url(stubck.gif);
navbutton-next-normal:url(stunxt.gif);
}
UL{
list-style-image:url(stubul1.gif);
}
UL UL{
list-style-image:url(stubul2.gif);
}
UL UL UL{
list-style-image:url(stubul3.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
