.mstheme{
nav-banner-image:url(astubanr.gif);
separator-image:url(asturule.gif);
list-image-1:url(astubul1.gif);
list-image-2:url(astubul2.gif);
list-image-3:url(astubul3.gif);
navbutton-horiz-pushed:url(astuhsel.gif);
navbutton-horiz-normal:url(astuhbtn.gif);
navbutton-horiz-hovered:url(astuhhov.gif);
navbutton-vert-pushed:url(astuvsel.gif);
navbutton-vert-normal:url(astuvbtn.gif);
navbutton-vert-hovered:url(astuvhov.gif);
navbutton-home-normal:url(astuhom.gif);
navbutton-home-hovered:url(astuhomh.gif);
navbutton-up-normal:url(astuup.gif);
navbutton-up-hovered:url(astuuph.gif);
navbutton-prev-normal:url(astubck.gif);
navbutton-prev-hovered:url(astubckh.gif);
navbutton-next-normal:url(astunxt.gif);
navbutton-next-hovered:url(astunxth.gif);
}
UL{
list-style-image:url(astubul1.gif);
}
UL UL{
list-style-image:url(astubul2.gif);
}
UL UL UL{
list-style-image:url(astubul3.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
